* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blogpost {
  padding: 5vh 25vw;
  min-height: 89vh;
}

@media (aspect-ratio < 0.8) {
  .blogpost {
    padding: 5vh 5vw;
  }
}

@media (0.8 <= aspect-ratio < 1.3) {
  .blogpost {
    padding: 5vh 15vw;
  }
}

.home a {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    font-weight: 600;
    transition: color 0.3s;
}

.home a:hover {
    color: var(--foreground);
}

.home a .left-arrow {
    margin: 0 4px 0 0;
}

.title {
    font-weight: 600;
    font-size: 4rem;
}

@media (aspect-ratio < 0.8) {
  .title {
    font-weight: 600;
    font-size: 3rem;
  }
}

.subtitle {
    display: flex;
    flex-wrap: wrap;
}

.subtitle .blogpost-page-date {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 6px;
    color: #d0d0d0;
    margin: 1vh 8px 0 0;
}

.blogpost-tags {
    display: flex;
    gap: 8px;
    margin: 1vh 0 0 0;
}

.blogpost-tag {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.3vh 6px;
    background-color: #263055;
    border-color: #303455;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
}

.content {
    font-size: 1.05rem;
    font-weight: 480;
    margin: 2vh 0 0 0;
}

.content a {
  color: var(--foreground)
}

.content a:hover {
  text-decoration: underline;
}

code.code {
    color: var(--foreground);
    background: #263055;
    font-size: 0.95rem;
    padding: 3px;
    border-radius: 4px;
    word-break: break-all;
}

.katex-display > .katex {
    font-size: 1.3rem !important;
    overflow-x: auto;
    overflow-y: hidden;
} 

.katex {
    font-size: 1.2rem !important;
}
